.btn-clear {
    background-color: transparent;
    border-color: transparent;
  }
  
  .btn-clear:hover {
    background-color: grey;
    border-color: grey;
  }

  .modal-p {
    margin-bottom: 0rem;
  }

  .navNotActive{
    color: #4A148C !important;
  }
  
  a.nav-link.active {
    color: white !important;
    background-color: #4A148C !important;
  }